%div.col_12
    %h1.col_9= "Status"
    %h2.date= date
    %table.striped
        %tbody
            - rss.items.to_enum.with_index.each do |item, index|
                %tr{:class => index.even? ? 'alt' : nil}
                    %td= item.title
                    %td
                        - if item.description == 'true'
                            %div{:class => 'notice success'}= "Alive"
                        - else
                            %div{:class => 'notice error'}= "Not so alive"
