%div.col_12
    %h1.col_9= "Status"
    %p.info.col_3= date
    %p.info.col_3
        %a{:href => "/run"}= "Re-run tests"
    %table.striped
        %tbody
            - rss.items.to_enum.with_index.each do |item, index|
                %tr{:class => index.even? ? 'alt' : nil}
                    %td= item.title
                    %td
                        - if item.description == 'website:up'
                            %div{:class => 'notice success'}= "Alive"
                        - elsif item.description == 'website:redirecting'
                            %div{:class => 'notice warning'}= "Redirecting"
                        - else
                            %div{:class => 'notice error'}= "Not so alive"
