%div.col_12
    %h1.col_9= "Status"
    %p.info.col_3= date
    %p.info.col_3
        %a{:href => "/run"}= "Re-run tests"

%div.col_12
    - rss.items.to_enum.with_index.each do |item, index|
        %div{:class => 'col_3'}
            %a{:href => item.link}
                - if item.description == 'website:up'
                    %span{:class => 'notice success'}= item.title
                - elsif item.description == 'website:redirecting'
                    %span{:class => 'notice warning'}= item.title
                - else
                    %span{:class => 'notice error'}= item.title
